In [5]:
import os
import pandas as pd
import ast
import re

In [6]:
df = pd.read_csv("HEPTH_METADATA_FINAL_11PM.csv", dtype='str')

In [7]:
df.head()

  Paper Id                                            Authors  Year
0  9201001                        C. Itzykson and J.-B. Zuber  1992
1  9201002   F.Bonechi, E.Celeghini, R.Giachetti, E.Sorace...  1992
2  9201003                                  Robbert Dijkgraaf  1992
3  9201004                                   Nathan Berkovits  1992
4  9201005                                   Igor R. Klebanov  1992

In [8]:
authors=[]
for key,row in df.iterrows():
    str = row["Authors"].replace("and",",")
    modified_string = re.sub(r"\([^()]*\)", "", str)
    authors.append(modified_string)

df["Authors"] = authors

In [9]:
new_df = pd.DataFrame(columns=["Paper Id","Authors","Year"])
for key,row in df.iterrows():
    authors = row["Authors"]
    authors_arr = authors.split(",")
    for i in range(len(authors_arr)):
        authors_arr[i] = authors_arr[i].strip()
        row_dict = {"Paper Id":row["Paper Id"], "Authors":authors_arr[i], "Year":row["Year"]}
        new_df = new_df.append(row_dict, ignore_index = True)

In [10]:
new_df.head()

  Paper Id      Authors  Year
0  9201001  C. Itzykson  1992
1  9201001  J.-B. Zuber  1992
2  9201002    F.Bonechi  1992
3  9201002  E.Celeghini  1992
4  9201002  R.Giachetti  1992

In [13]:
new_df.describe()

       Paper Id Authors   Year
count     61121   61121  61121
unique    29555   15931     12
top     9706081           2002
freq         22     943   7167

In [15]:
pap_list = new_df["Paper Id"]
count = 0
ans = []
for x in pap_list:
    if len(x) != 7:
        count += 1
        ans.append(x)
count

0

In [16]:
new_df.to_csv("authors_hepth_FINAL.csv", index=False)

In [23]:
len(new_df.iloc[40]["Authors"])

0

In [24]:
newest_df = new_df[new_df.Authors != ""]

In [25]:
new_df.describe()

       Paper Id Authors   Year
count     61121   61121  61121
unique    29555   15931     12
top     9706081           2002
freq         22     943   7167

In [26]:
newest_df.describe()

       Paper Id Authors   Year
count     60178   60178  60178
unique    29555   15930     12
top     0208183    Alex   2002
freq         21     245   7049

In [27]:
newest_df.to_csv("authors_hepth_FINAL.csv", index=False)