In [2]:
import json
import os
import pandas as pd

In [42]:

def extract():
    par_dir = "hepth"
    dataset = pd.DataFrame(columns=["Paper Id", "Authors", "Year"])
    for folderYear in os.listdir(par_dir):
        year = folderYear
        for fileName in os.listdir(par_dir + "/" + folderYear):
            row_dict = {}
            #par_dir + "/" + folderYear + "/" + fileName
            with open("hepth/2002/0212334.abs") as fh:
                file_dict = {}
                count = 0
                for line in fh:
                    #print(len(line))
                    #print(line)
                    if count == 2:
                        break
                    elif len(line) == 3 and (line.find("\\") != -1):
                        count += 1
                    elif count == 1:
                        print("h")
                        #print(line)
                        key= line.split(":", 1)
                        #print(value)
                        print(key)
                        #file_dict[key[0]] = key[1]
            print(file_dict)
            break
            row_dict = {"Paper Id":fileName[:-4], "Authors":file_dict["Authors"], "Year":year}
            dataset = dataset.append(row_dict, ignore_index = True)
            print(dataset.head())
            break
        break

In [60]:

def extract():
    par_dir = "hepth"
    dataset = pd.DataFrame(columns=["Paper Id", "Authors", "Year"])
    for folderYear in os.listdir(par_dir):
        year = folderYear
        for fileName in os.listdir(par_dir + "/" + folderYear):
            row_dict = {}
            #par_dir + "/" + folderYear + "/" + fileName
            value = ""
            key = []
            with open("hepth/2002/0212334.abs") as fh:
                file_dict = {}
                temp = fh
                content = temp.readlines()
                #print(content)
                i = 0
                for line in fh:
                    print(line)
                    if line.find("Authors:") != -1:
                        key = line.split(":")
                        print("h")
                        value = key[1][:-2]
                        for x in range(i, len(content)):
                            if content[x].find(":") == -1:
                                value += content[x][:-2]
                            else:
                                break
                    i += 1 
            #file_dict[key[0]] = value
            #print(file_dict)            break
            row_dict = {"Paper Id":fileName[:-4], "Authors":file_dict["Authors"], "Year":year}
            dataset = dataset.append(row_dict, ignore_index = True)
            print(dataset.head())
            break
        break

In [122]:
def extract():
    par_dir = "hepth"
    dataset = pd.DataFrame(columns=["Paper Id", "Authors", "Year"])
    fileNameList = []
    for folderYear in os.listdir(par_dir):
        year = folderYear
        for fileName in os.listdir(par_dir + "/" + folderYear):
            row_dict = {}
            key = ""
            value = ""
            with open(par_dir + "/" + folderYear + "/" + fileName) as fh:
                file_dict = {}
                content = fh.readlines()
                i = 0
                key = ""
                value = ""
                for line in content:
                    if line.find("Authors:") != -1 or line.find("Author:") != -1:
                        value = line.split(":")
                        value = value[1][:-1]
                        for x in range(i+1, len(content)):
                            if content[x].find("\\") != -1:
                                break
                            if content[x].find(":") == -1:
                                value += content[x][:-1]
                            else:
                                break
                    i += 1
                #file_dict[key] = value
            fileNameList.append(fileName[:-4])
            row_dict = {"Paper Id":str(fileName[:-4]), "Authors":value, "Year":year}
            dataset = dataset.append(row_dict, ignore_index = True)
    return dataset

In [123]:
dataset = extract()

In [126]:
df = dataset.copy()

In [127]:
dataset.dropna(inplace=True)

In [124]:
dataset.describe()

       Paper Id      Authors   Year
count     29555        29555  29555
unique    29555        19689     12
top     9209131   Ashoke Sen   2002
freq          1           55   3312

In [128]:
dataset.describe()

       Paper Id      Authors   Year
count     29555        29555  29555
unique    29555        19689     12
top     9209131   Ashoke Sen   2002
freq          1           55   3312

In [129]:
dataset.to_csv("HEPTH_METADATA_3.csv", index=False)

In [135]:
dff = df.copy()

In [140]:
dff["Paper Id"] = df["Paper Id"].astype('str')
dff.to_csv("HEPTH_METADATA_FINAL_11PM.csv", index=False)

In [116]:
par_dir = "hepth"
count = 0
pap = []

for folderYear in os.listdir(par_dir):
       year = folderYear
       for fileName in os.listdir(par_dir + "/" + folderYear):
              if len(fileName) != 11:
                     count += 1
                     pap.append(fileName)

In [141]:
dataset = pd.read_csv("HEPTH_METADATA_FINAL_11PM.csv", dtype='str')

In [142]:
dataset.head()

  Paper Id                                            Authors  Year
0  9201001                        C. Itzykson and J.-B. Zuber  1992
1  9201002   F.Bonechi, E.Celeghini, R.Giachetti, E.Sorace...  1992
2  9201003                                  Robbert Dijkgraaf  1992
3  9201004                                   Nathan Berkovits  1992
4  9201005                                   Igor R. Klebanov  1992

In [143]:
pap_list = df["Paper Id"]
count = 0
ans = []
for x in pap_list:
    if len(str(x)) != 7:
        count += 1
        ans.append(x)
count

0